page-social {
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
      }

      .bg{
        background-image: url('../../assets/img/event/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
      
      }

    .transparent{
        background-color: rgba(0, 0, 0, 0.21);
    }
}
